@model ResetPasswordViewModel
@{
    Layout = "_CustomerLayout";
}
<h2 class="text-center mb-5">Update Password</h2>

<form method="post" class="container">
    <input type="number" asp-for="userId" hidden/>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" asp-for="Email" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-primary" asp-controller="Customer" asp-action="CustomerProfile">Cancel</a>
</form>